img#logo {
    display: block;
    margin: 25px auto 50px auto;
}

.logoCont {
    background-image: url("images/cat.jpg");
    height: 650px;
    padding: 75px 50px 50px 50px;
}

.petForm {
    padding: 50px;
    margin: 0 auto 0 auto;
}

img.img-left {
    float: left;
    margin: 0 25px 25px 0;
}

.formCont {
    margin-top: 50px;
    padding: 25px;
    background-color: lightgray;
}

.no-wrap {
    clear: both;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 100px;
  }

#footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background-color: #343b3f;
    color: white;
    text-align: center;
}

.footer-logo {
    margin: 10px;
}

#copyright {
    font-size: .75em;
}