.house-image, .park-image {
    max-width: 100%;
    height: auto;
    border-radius: 15%;
}

#draggable img {
    border-radius: 15;
    max-width: 90%;
    height: auto;
}

#draggable, .park-container, .house-container {
    width: 20%;
    border: solid;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}