.submit_button {
    width: 75px;
    height: auto;
    border: 0;
}

#draggable img {
    border-radius: 15;
    max-width: 90%;
    height: auto;
}

#draggable, .no-container, .yes-container {
    width: 40%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}